.movies {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: auto;
    background-color: black;
}

.link {
    width: 240px;
}

.list {
    width: 100%;

}

.listHidden {
    display: none;
}


.movie-item {
    height: 320px;
    width: 240px;
    margin: 10px auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


@media screen and (min-width: 667px) {
    .movies {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .list,
    .listHidden {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        overflow-x: auto;
    }

    .movie-item {
        margin: 10px;
    }
}